/* なにも設定しない状態(box-sizing:content-box; )だと、widthやheightで指定した大きさにborderとpaddingの値が加算された領域を占めてしまうので、計算するのが面倒くさいのです。

border-boxにしておけば、width: 100%; にするだけで親要素幅や画面幅にフィットさせることができてスムーズになりますね。 */

body {
  box-sizing: border-box;
}
body * {
  box-sizing: inherit; /* box-sizingの値は継承されないので明示的に設定 */
}

html {
  line-height: 1.5; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
  tab-size: 4; /* 3 */
}

* {
  /* デフォルトで余白を無しにしておく */
  margin: 0;
  padding: 0;
  position: relative;
}
